doctype html
html(lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}")
  head
  body
    // Propriedades adicionais
    th:block(layout:fragment='properties')

    // Sidebar
    th:block(layout:fragment='sidebar')
      th:block(th:replace="fragments/sidebar :: sidebar(currentPage='dashboard')")
    // End Sidebar
    
    // Page title
    th:block(layout:fragment='page_title')
      | Painel Inicial
    
    // Page Content
    th:block(layout:fragment='page_content')
    // End Page Content
    
    // Scripts adicionais
    th:block(layout:fragment='optional')
